<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <link href="https://fonts.loli.net/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.loli.net/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

    <script src="https://cdnjs.loli.net/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body class="#f5f5f5 grey lighten-4">
<!--header-->
<nav>
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Test</a>
        <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <!--有波纹按钮-->
            <li><a href="#localWeather">当地天气预报</a></li>
            <li><a href="#myCityList">我的城市列表</a></li>
            <li><a href="#editCityList">编辑城市列表</a></li>
        </ul>
    </div>
</nav>

<ul id="slide-out" class="sidenav">
    <li>
        <div class="user-view">
            <div class="background">
                <img src="../img/bg-header.png">
            </div>
            <a href="#user"><img class="circle" src="../img/bg-logo.png"></a>
            <a href="#name"><span class="white-text name">RootHK</span></a>
            <a href="#email"><span class="white-text email">hk374790498@gmail.com</span></a>
        </div>
    </li>
    <li><a href="#!"><i class="material-icons">cloud</i>RootHK - 天气预报</a></li>
    <li>
        <div class="divider"></div>
    </li>
    <!--有波纹按钮-->
    <li><a class="waves-effect" href="#localWeather">当地天气预报</a></li>
    <li><a class="waves-effect" href="#myCityList">我的城市列表</a></li>
    <li><a class="waves-effect" href="#editCityList">编辑城市列表</a></li>
    <!--下面是不可选-->
    <li><a class="subheader">-实验室功能-</a></li>
</ul>
<p></p>
<!--主要信息概览-->
<!--localWeather 当地天气-->
<div id="localWeather" v-bind:style="{ display: displayOn }" class="container">
    <div class="row">
        <div class="col s12 m7">
            <div class="card">
                <div class="card-image">
                    <img src="../img/bg-header.png">
                    <span class="card-title">{{ local.city }} - {{ local.weather }} {{ local.temp }}°</span>
                </div>
                <div class="card-content">
                    <p>{{ local.week }}&nbsp;&nbsp;{{ local.templow }}° - {{ local.temphigh }}°&nbsp;&nbsp;{{
                        local.date }}&nbsp;&nbsp;湿度&nbsp;{{ local.humidity }}%</p>
                </div>
            </div>
        </div>

        <div class="col s12 m7">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="../img/bg-header.png">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">按小时查看<i class="material-icons right">more_vert</i></span>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">按小时查看<i
                            class="material-icons right">close</i></span>
                    <ul class="collection">
                        <li v-for="hour in local.hourly" class="collection-item">
                            {{ hour.time }}&nbsp;&nbsp;&nbsp;&nbsp;{{ hour.weather }}&nbsp;&nbsp;&nbsp;&nbsp;气温{{
                            hour.temp }}°
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col s12 m7">
            <div class="card-panel teal" v-for="days in local.daily">
              <span class="white-text">
                  <h4>{{ days.date }}</h4>
                    >{{ days.week }},<p>
                    日出: {{ days.sunrise }},
                    日落: {{ days.sunset }}
                    <hr>
                  <h6>白天</h6>
                    最高气温: {{ days.day.temphigh }}<p>
                    风向: {{ days.day.winddirect }}<p>
                    风级: {{ days.day.windpower }}<p>
                    天气: {{ days.day.weather }}
                    <hr>
                  <h6>夜间</h6>
                    最低气温: {{ days.night.templow }}<p>
                    风向: {{ days.night.winddirect }}<p>
                    风级: {{ days.night.windpower }}<p>
                    天气: {{ days.night.weather }}
              </span>
            </div>
        </div>
    </div>
</div>


<script type="application/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        var sidenav = document.querySelectorAll('.sidenav');
        var sidenavs = M.Sidenav.init(sidenav);

        var collapsible = document.querySelectorAll('.collapsible');
        var collapsibles = M.Collapsible.init(collapsible);
    });

    //网页初始化
    window.onload = function () {
        //更新本地天气
        localWeather.$root.updataWeather();
    };

    //获取接口数据的接口
    var get = new Vue({
        data: {
            weather: {},
            ip: {}
        },
        methods: {
            //获取IP地址
            ipData: function () {
                var self = this;
                axios.get('http://aliyun.roothk.top:7700/ip').then(function (response) {
                    self.ip = response.data.data;
                    localStorage.setItem('local_ip', self.ip);
                    console.log(self.ip);
                }).catch(function (error) {
                    console.log(error);
                });
            },
            //获取天气数据
            weatherData: function (type, value) {
                var self = this;
                axios.get('http://aliyun.roothk.top:7700/query?' + type + '=' + value).then(function (response) {
                    self.data = response.data.result;
                }).catch(function (error) {
                    console.log(error);
                });
            }
        }
    });

    //当地天气信息
    var localWeather = new Vue({
        el: '#localWeather',
        data: {
            displayOn: 'none',
            local: ''
        },
        methods: {
            //更新本地天气信息
            updataWeather: function () {
                var ip = localStorage.getItem('local_ip');
                if (ip === undefined || ip === null || ip === '') {
                    //重新获取IP
                    get.$root.ipData();
                    //当接口不可用,开始死循环
                    this.updataWeather();
                } else {
                    var self = this;
                    //拿到天气数据
                    self.getWeatherData('ip', ip);
                    self.displayOn = '';
                }
            },
            //获取天气数据
            getWeatherData: function (type, value) {
                var self = this;
                axios.get('http://aliyun.roothk.top:7700/query?' + type + '=' + value).then(function (response) {
                    self.local = response.data.result;
                }).catch(function (error) {
                    console.log(error);
                });
            }
        }
    });

    //我的城市列表
    var myCityList = new Vue({
        el: '#myCityList',
        data: {
            displayOn: 'none'
        },
        created: function () {
        }
    });
    //编辑城市列表
    var editCityList = new Vue({
        el: '#editCityList',
        data: {
            displayOn: 'none'
        },
        created: function () {
        }
    });

    function displayUtils(objcet) {
        if (objcet.$root.displayOn === 'none') {
            objcet.$root.displayOn = ''
        } else {
            objcet.$root.displayOn = 'none'
        }

    }
</script>
</body>
</html>